.time{
   display: flex;
   justify-content: center;
   font-weight:bold;
   background: grey; /* Just to visualize the extent */
   overflow: auto;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   align-items: center;
   font-size: 10em;
   font-family: 'Courier New', Courier, monospace;
}